@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
header{
	width: 100%;
	height: 80px;
	background-color: #0A0A0A;
}
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.inner-cont{
	display: flex;
	width: 1000px;
	margin: 0px auto;
	height: 80px;
}
.logo{
	display: flex;
	justify-content: flex-start;
	font-weight: 200;
	color: white;
	width: 150px;
	height: 100%;
}
.logo a{
	align-self: center;
	color: white;
	font-family: "Montserrat";
	font-size: 32px;
}
.logo a span{
	font-weight: 800;
}
.navigation{
	width: 850px;
	height: 80px;
	display: flex;
	justify-content: flex-end;


}
.navigation a{
	padding: 0px 20px;
	align-self: center;
	height: 40px;
}

.navigation a li{
	color: white;
	font-family: "Montserrat";
	font-size: 16px;
	padding-top: 10px;
}

a:hover{
	background: grey;
}